.flex-col {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.h3 {
    padding: 0 2em;
}

.flex {
    display: flex;
    flex-direction: row;
}

.flex-row {
    display: flex;
    flex-direction: row;
    border-radius: 15px 50px 0px 0px;
}

.h-center {
    margin: 0 auto;
}

.main-container {
    max-width: 960px;
    min-width: 400px;
}

/*.w-100 {*/
/*    width: 100%;*/
/*}*/


.article {
    flex: 3;
}

.aside {
    flex: 1;
}

@media screen and (max-width: 960px) {
    .aside {
        display: none;
    }
}

.img-logo {
    height: 4.8rem;
}

.img {
    width: 200px;
    height: 200px;
    margin: 0 auto;
}

.text {
    font-size: 1rem;
    text-align: center;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
}

.menu-bar-img {
    width: 40px;
    height: 40px;
}

.aside-item {
    display: block;
    text-align: center;
    padding: 2.3rem;
    width: 80%;
    height: 20%;
}

/* Without Adam style */

.header {
    text-align: center;
}

html {
    background: url(https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/pdflowerset17-gloy-01a-l_1.jpg?bg=transparent&con=3&cs=srgb&dpr=1&fm=jpg&ixlib=php-3.1.0&q=65&usm=15&vib=3&w=800&s=b8e8bde0f246d66d14ed9d8da0789175) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    text-align: center;
    font-weight: bold;
    /* color: whitesmoke; */
    font-size: large;
    /*font-family: 'Bree Serif', serif;*/
    font-family: 'Quicksand', sans-serif;
}

.media33 {
    width: 33%;
    margin-inside: 10px;
}

@media screen and (max-width: 800px) {
    .flex-row {
        display: block;
        border-radius: 15px 15px 0 0;
    }

    .media33 {
        width: 100%;
    }

    .footer {
        padding: 0.5em;
        font-size: xx-small;
    }
}

#bird {
    width: 40px;
    height: 40px;
}

.topnav {
    overflow: hidden;
    background-color: darkcyan;
    justify-content: space-around;
    border-top-left-radius: 15px;
    left: 0;
}

.topnav a {
    float: left;
    display: block;
    color: #fad5ca;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #dddddd;
    color: darkcyan;
    justify-content: space-around;
}

.topnav a.active {
    background-color: rgba(238, 201, 208, 0);
    color: #0c0c0c;
}

.topnav .icon {
    display: none;
}

@media screen and (max-width: 800px) {
    .topnav a:not(:first-child) {
        display: none;
    }

    .topnav a.icon {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 800px) {
    .topnav.responsive {
        position: relative;
    }

    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}

.main {
    background-color: #fad5ca;
    opacity: 0.8;
    border-radius: 0px 0px 15px 50px;
}


th {
    color: darkcyan;
}