.flex-col {
    display: flex;
    flex-direction: column;
    border-width: 1px;
    border-style: solid;
    width: 100%;
}

.h3 {
    padding: 0 2em;
}
.flex {
    display: flex;
    flex-direction: row;
}
.flex-row {
    display: flex;
    flex-direction: row;
}

.h-center {
    margin: 0 auto;
}

.main-container {
    max-width: 960px;
    border-width: 1px;
    border-style: solid;
}

.w-100 {
    width: 100%;
}

.topnav {
    justify-content: space-around;
    border-width: 1px;
    border-style: solid;
}

.article {
    flex: 3;
    border-width: 1px;
    border-style: solid;
}

.aside {
    flex: 1;
    border-width: 1px;
    border-style: solid;
}

@media screen and (max-width: 960px) {
    .aside {
        display: none;
    }
}


.img-logo {
    height: 3rem;
}

.img {
    width: 200px;
    height: 200px;
    margin: 0 auto;
}

.text {
    font-size: 1rem;
    text-align: center;

}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
}

.menu-bar-img {
    width: 40px;
    height: 40px;
}

@media screen and (min-width: 960px) {
    .menu-bar-wrapper {
        display: none;
    }
}
.aside-item {
    display: block;
    text-align: center;
    padding: 1.6rem 0;
    border-style: solid;
    width: 80%;
    height: 20%;
}
/* Without Adam style */

.header {
    text-align: center;
}

html {
    background: url(https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/pdflowerset17-gloy-01a-l_1.jpg?bg=transparent&con=3&cs=srgb&dpr=1&fm=jpg&ixlib=php-3.1.0&q=65&usm=15&vib=3&w=800&s=b8e8bde0f246d66d14ed9d8da0789175) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    text-align: center;
    font-weight: bold;
    /* color: whitesmoke; */
    font-size: 1em;
    font-family: 'Bree Serif', serif;
}

.media33 {
    width: 33%;
    margin-inside: 10px;
}
@media screen and (max-width: 800px) {
    .flex-row {
    display: block;
    }
    .media33 {
        width: 100%;
    }
    .footer {
        padding: 0.5em;
        font-size: xx-small;
    }
}

#bird {
    width: 40px;
    height: 40px;
}