/* IMPORT RESET */
@import url("reset.css");

/* IMPORT 12 COLUMN RESPONSIVE GS */
@import url("responsive.gs.12col.css");


/*	EXAMPLE STYLES */
body {
	font-family: sans-serif;
	color: white;
	background: center top url(https://free4kwallpapers.com/uploads/originals/2020/05/19/forest-trees-wallpaper.jpg) fixed;
}

header {
	line-height: 3em;
	text-align: center;
	background: #333;
	opacity: 0.6;
	font-family: "URW Chancery L";
	font-size: 5em;

}

article {
	line-height: 20em;
	text-align: center;
	background: #666;
	opacity: 0.6;
}

aside {
	line-height: 20em;
	text-align: center;
	background: #999;
	opacity: 0.6;
}

footer {
	line-height: 15em;
	text-align: center;
	background: #BBB;
	opacity: 0.3;
	position: static;
	text-orientation: unset;
}

 